<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Webpage Pixel Icon -->
    {% load static %}
    <link rel="icon" type="image/gif" href="{% static 'pic/pixel-gif-drawing.gif' %}">

    <!-- Title of Webpage -->
    {% block title %}<title>Track N&apos; Drive</title>{% endblock %}

    <!-- Specify character set for webpage content -->
    <meta charset="utf-8">

    <!-- Make sure webpage is compatible with Microsoft Edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile first functionality -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    >

    <!-- jQuery library -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    <!-- Latest compiled JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        .LiveChat{
            position:absolute;
            bottom:0%;
            height:10%;
            background-color:red;
        }
    </style>
    <script>
        $(document).ready(function()
        {
            $("#chatBtn").click(function()
        {
            $(".LiveChat").css("height","30%");
        });
        });

    </script>
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {% block usercontent %}{% endblock %}
            </div>
        </div>
    </div>

</div>
</body>
</html>
