<!DOCTYPE html>
<html>

<head>

    <!-- Webpage Pixel Icon -->
    <link rel="icon" type="image/gif" href="./img/pixel-gif-drawing.gif">

    <!-- Title of Webpage -->
    <title>Track N&apos; Drive</title>

    <!-- Specify character set for webpage content -->
    <meta charset="utf-8">

    <!-- Make sure webpage is compatible with Microsoft Edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile first functionality -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    >

    <!-- jQuery library -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>

    <!-- Latest compiled JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

</head>

<body>

    <!-- The purpose of this html page is to show the user the cost over time statistics to visualize the data -->

<!-- Bootstrap overall containment content -->
<div class="container">

    <!-- Bootstrap allocate page space for navbar, creates the same navbar as every other page -->
    <div class="row">

        <!-- Bootstrap allocate full width of page -->
        <div class="col-md-12">
            <div class="row">
                {% block nav %}{% endblock %}
            </div>
            <!-- Start of Row for navbar -->
            <div class="row">
              {% block stat %}{% endblock %}
            </div>
        </div>
      </div>
  </div>
</body>
</html>
