{% extends "base_userprofile.html" %}

{% block title %}<title> Trump Chat </title>{% endblock %}

{% block usercontent %}
<!-- Main Row Content for page components -->

<textarea id="chatwindow" class="text-left" readonly rows="10" cols="50">
    {% for message in chat %}
    {{ message.name }}: {{ message.contents }}
    {% endfor %}
</textarea>
<br/>
<hr>
<form class="text-center" action="/index" method="POST">
    <input type="text" id="chatinput" size="45">
    <button type="button" class="btn btn-primary"><a href="{% url 'post_new' %}" class="top-menu"></a></button>
    <!-- End of first button of group -->
</form>


{% endblock %}
