{% extends "base_setting.html" %}

{% block title %}<title> Track N' Drive </title>{% endblock %}

{% block nav %}

<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand brand" href="{% url 'index' %}">
                {% load static %}
                <img src="{% static 'pic/logo-invert.png' %}" alt="Home" height="70"/>
            </a>
        </div>

        <!-- Start of Navbar options -->
        <ul class="nav navbar-nav navbar-right">

            <!-- First Navbar menu option -->
            <li class="dropdown">

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Vehicles <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    {% for car in cars %}
                    <li>
                        <!-- assign a unique url for each car -->
                        <a href="{{ car.get_absolute_url }}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#">Add Car
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>

            </li>

            <!-- Second Navbar menu option -->
            <li class="dropdown">

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Technicians <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {% for tech in techs %}
                    <li>
                        <a href="{{ tech.get_absolute_url }}">
                            {{ tech.fname }} {{ tech.lname }}
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#">Add Technician
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>
            </li> <!-- end of second navbar menu option  -->

            <!-- Third dropdown item -->
            <li>

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                   title="Seeing how much money you have put into your car">
                    Statistics <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    {% for car in cars %}
                    <li>
                        <a href="{{ car.get_absolute_url2 }}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
                    </li>
                    {% endfor %}
                </ul>

            </li> <!-- End of third dropdown item -->

            <!-- Fourth dropdown item -->
            <li>

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    User <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'index' %}">Profile
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'settings' %}">Settings
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </a>
                    </li>
                </ul>

            </li> <!-- End of fourth dropdown item -->

        </ul> <!-- End of navbar options -->
    </div>
</nav>

{% endblock %}

{% block setting %}

<!-- Notification Settings column space -->
<div class="col-md-6">
    <!-- Make a panel to contain content -->
    <div class="panel panel-default">

        <!-- Panel heading for Notification Settings -->
        <div class="panel-heading text-center">
            <h3>
                Notification Settings
            </h3>
        </div> <!-- End of Notification Panel Heading -->

        <!-- Panel body for Notification Settings -->
        <div class="panel-body">

            <!-- Notification Settings List -->
            <ul class="list-group list-var">

                <h3>
                    Phone Notifications
                </h3> <br/>
                {% for pt in phone_timings %}
                {% for note in notifications.all %}
                {% for fr in note.futurerepairnotif.all %}
                <li>
                    {{ pt.phone }}: {{ fr.name }} | {{ fr.date_of_repair }} |
                    {{ fr.car.year }} {{ fr.car.make }}  {{ fr.car.model }}
                    <hr>
                </li>
                {% endfor %}
                {% endfor %}
                {% endfor %}
                <!-- Edit Button -->
                <button type="button" class="btn btn-primary"
                        title="Edit: Email Address Notification Timings">
                    Edit <span class="glyphicon glyphicon-list-alt"></span>
                </button> <!-- End of edit button -->

            </ul> <!-- End of notification settings list -->

            <!-- Notification Settings List -->
            <ul class="list-group list-var">

                <h3>
                    Email Notifications
                </h3> <br/>
                {% for et in email_timings %}
                {% for note in notifications.all %}
                {% for fr in note.futurerepairnotif.all %}
                <li>
                    {{ et.email }}: {{ fr.name }} | {{ fr.date_of_repair }} |
                    {{ fr.car.year }} {{ fr.car.make }}  {{ fr.car.model }}
                    <hr>
                </li>
                {% endfor %}
                {% endfor %}
                {% endfor %}
                <!-- Edit Button -->
                <button type="button" class="btn btn-primary"
                        title="Edit: Email Address Notification Timings">
                    Edit <span class="glyphicon glyphicon-list-alt"></span>
                </button> <!-- End of edit button -->

            </ul> <!-- End of notification settings list -->

        </div> <!-- End of notification settings panel body -->

    </div> <!-- End of Panel -->

</div> <!-- End of notification settings column space -->

<!-- Contact Settings Column Space -->
<div class="col-md-6">
    <!-- Make a panel to contain content -->
    <div class="panel panel-default">

        <!-- Panel heading for Contact Settings -->
        <div class="panel-heading text-center">
            <h3>
                Contact Settings
            </h3>
        </div> <!-- End of Contact Panel Heading -->

        <!-- Panel body for Contact Settings -->
        <div class="panel-body">

            <!-- Contact Settings List -->
            <ul class="list-group list-var">
                <li>
                    {% for ptime in phone_timings.all %}
                    <h3>
                        Mobile Phone: {{ ptime.phone }}
                        <!-- Edit Button -->
                        <button type="button" class="btn btn-primary"
                                title="Edit: Email Address">
                            Edit <span class="glyphicon glyphicon-list-alt"></span>
                        </button> <!-- End of edit button -->
                    </h3>
                    {% endfor %}
                    <!-- Add Button -->
                    <button type="button" class="btn btn-primary"
                            title="Add: Email Address">
                        Add <span class="glyphicon glyphicon-plus"></span>
                    </button> <!-- End of add button -->
                </li>
                <li>
                    {% for etime in email_timings.all %}
                    <h3>
                        Email: {{ etime.email }}
                        <!-- Edit Button -->
                        <button type="button" class="btn btn-primary"
                                title="Edit: Mobile Phone Number">
                            Edit <span class="glyphicon glyphicon-list-alt"></span>
                        </button> <!-- End of edit button -->
                    </h3>
                    {% endfor %}
                    <!-- Add Button -->
                    <button type="button" class="btn btn-primary"
                            title="Add: Mobile Phone Number">
                        Add <span class="glyphicon glyphicon-plus"></span>
                    </button> <!-- End of add button -->
                </li>
            </ul> <!-- End of notification settings list -->

        </div> <!-- End of notification settings panel body -->

    </div> <!-- End of Panel -->

</div> <!-- End of Notification Settings panel -->

{% endblock %}