{% extends "base_stat.html" %}

{% block title %}<title> Track N' Drive </title>{% endblock %}

{% block nav %}

<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand brand" href="{% url 'index' %}">
                {% load static %}
                <img src="{% static 'pic/logo-invert.png' %}" alt="Home" height="70"/>
            </a>
        </div>

        <!-- Start of Navbar options -->
        <ul class="nav navbar-nav navbar-right">

            <!-- First Navbar menu option -->
            <li class="dropdown">

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Vehicles <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    {% for car in cars %}
                    <li>
                        <!-- assign a unique url for each car -->
                        <a href="{{ car.get_absolute_url }}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#">Add Car
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>

            </li>

            <!-- Second Navbar menu option -->
            <li class="dropdown">

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Technicians <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {% for tech in techs %}
                    <li>
                        <a href="{{ tech.get_absolute_url }}">
                            {{ tech.fname }} {{ tech.lname }}
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#">Add Technician
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>
            </li> <!-- end of second navbar menu option  -->

            <!-- Third dropdown item -->
            <li>

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                   title="Seeing how much money you have put into your car">
                    Statistics <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    {% for car in cars %}
                    <li>
                        <a href="{{ car.get_absolute_url2 }}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
                    </li>
                    {% endfor %}
                </ul>

            </li> <!-- End of third dropdown item -->

            <!-- Fourth dropdown item -->
            <li>

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    User <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'index' %}">Profile
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'settings' %}">Settings
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </a>
                    </li>
                </ul>

            </li> <!-- End of fourth dropdown item -->

        </ul> <!-- End of navbar options -->
    </div>
</nav>

{% endblock %}

{% block stat %}
<!-- Car 1 row panel -->
<div class="row">

    <!-- Column space for Car 1 Panel, contains DATA and COSTS tabs -->
    <div class="col-md-12">
        <!-- Start of Panel Content -->
        <div class="panel panel-default">


            <!-- Start of Panel Heading  -->
            <div class="panel-heading text-center">
                <h3>
                    {{ car.year }} {{ car.make }} {{ car.model }}
                </h3>
            </div> <!-- End of Panel Heading -->

            <!-- Start of Panel Body  -->
            <div class="panel-body">
                <!-- Make a list group of panels -->
                <ul class="list-group list-var">

                    <li>
                        <!-- Make Car 1 Panel group -->
                        <div class="panel-group">

                            <!-- Start of Panel structure, inserting the DATA graph to car 1 panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <p class="panel-title">
                                        <a data-toggle="collapse" data-parent="accordion"
                                           href="#car-data1">
                                            Data
                                        </a>
                                    </p>
                                </div>

                                <!-- Start of collapsible body -->
                                <div id="car-data1" class="panel-collapse collapse">

                                    <!-- Start of Panel body -->
                                    <div class="panel-body text-center">
                                        {% load static %}
                                        <img src="{% static 'pic/car1-stats-pic.png' %}"
                                             title="placeholder for graph that will be generated with js"/>

                                    </div> <!-- End of Panel Body -->

                                </div> <!-- End of collapsible body -->

                            </div> <!-- End of Panel structure -->

                            <!-- Start of Panel structure, inserting COSTS data to Car 1 Panel -->
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <p class="panel-title">
                                        <a data-toggle="collapse" data-parent="accordion"
                                           href="#car-costs1">
                                            Costs
                                        </a>
                                    </p>
                                </div>

                                <!-- Start of collapsible body -->
                                <div id="car-costs1" class="panel-collapse collapse">

                                    <!-- Start of Panel body -->
                                    <div class="panel-body">
                                        <ul class="list-group list-var">
                                            {% for rep in car.repair.all %}
                                            <li>
                                                {% if '$' in rep.cost %}
                                                {{ rep.name }} | {{ rep.cost }} | {{ rep.technician.fname }}
                                                {{ rep.technician.lname }} | {{ rep.technician.street }},
                                                {{ rep.technician.city }}, {{ rep.technician.company }} |
                                                {{ rep.date_made }}
                                                {% else %}
                                                {{ rep.name }} | ${{ rep.cost }} | {{ rep.technician.fname }}
                                                {{ rep.technician.lname }} | {{ rep.technician.street }},
                                                {{ rep.technician.city }}, {{ rep.technician.company }} |
                                                {{ rep.date_made }}
                                                {% endif %}
                                                <hr>
                                            </li>
                                            <!-- Horizontal line -->
                                            {% endfor %}
                                        </ul>

                                        <!-- Make a button group -->
                                        <div class="text-center btn-group">

                                            <!-- First Button of group -->
                                            <button type="button" class="btn btn-primary">
                                                Edit <span class="glyphicon glyphicon-list-alt"></span>
                                            </button> <!-- End of first button of group -->

                                            <!-- Second Button of group -->
                                            <button type="button" class="btn btn-primary">
                                                Add <span class="glyphicon glyphicon-plus"></span>
                                            </button> <!-- End of second button of group -->

                                        </div> <!-- End of button group -->

                                    </div> <!-- End of Panel Body -->

                                </div> <!-- End of collapsible body -->

                            </div> <!-- End of Panel structure -->

                        </div> <!-- End of Car 1 panel group -->
                    </li>

                </ul> <!-- End of list group of panels -->

            </div> <!-- End of Panel Body -->

        </div> <!-- End of Panel Content -->
    </div> <!-- End of Column space for Car 1 Panel -->

</div> <!-- End of Car 1 row panel -->
{% endblock %}
