{% extends "base_userprofile.html" %}

{% block title %}<title> Track N' Drive </title>{% endblock %}

{% block nav %}

<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand brand" href="{% url 'index' %}">
                {% load static %}
                <img src="{% static 'pic/logo-invert.png' %}" alt="Home" height="70"/>
            </a>
        </div>

        <!-- Start of Navbar options -->
        <ul class="nav navbar-nav navbar-right">

            <!-- First Navbar menu option -->
            <li class="dropdown">

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Vehicles <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    {% for car in cars %}
                    <li>
                        <!-- assign a unique url for each car -->
                        <a href="{{ car.get_absolute_url }}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#">Add Car
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>

            </li>

            <!-- Second Navbar menu option -->
            <li class="dropdown">

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Technicians <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {% for tech in techs %}
                    <li>
                        <a href="{{ tech.get_absolute_url }}">
                            {{ tech.fname }} {{ tech.lname }}
                        </a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#">Add Technician
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                </ul>
            </li> <!-- end of second navbar menu option  -->

            <!-- Third dropdown item -->
            <li>

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                   title="Seeing how much money you have put into your car">
                    Statistics <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    {% for car in cars %}
                    <li>
                        <a href="{{ car.get_absolute_url2 }}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
                    </li>
                    {% endfor %}
                </ul>

            </li> <!-- End of third dropdown item -->

            <!-- Fourth dropdown item -->
            <li>

                <!-- Name of dropdown with caret -->
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    User <span class="caret"></span>
                </a>

                <!-- Contents of dropdown menu -->
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'index' %}">Profile
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'settings' %}">Settings
                            <span class="glyphicon glyphicon-asterisk"></span>
                        </a>
                    </li>
                </ul>

            </li> <!-- End of fourth dropdown item -->

        </ul> <!-- End of navbar options -->
    </div>
</nav>

{% endblock %}


{% block usercontent %}
<!-- Main Row Content for page components -->
<div class="row">

    <!-- Column space for notifications, car image, info, and repairs -->
    <div class="col-md-12">

        <!-- Notification Nav -->
        <div class="col-md-4">

            <!-- Start of Notification panel grouping -->
            <div class="panel-group">

                <!-- Notification Panel Contents -->
                <div class="panel panel-default">

                    <!-- Notification heading -->
                    <div class="panel-heading text-center">

                        <!-- Start of collapse title -->
                        <p class="panel-title">
                            Notifications
                        </p> <!-- End of collapse title -->

                    </div> <!-- End of Notification heading -->


                    <!-- Start of Notification Panel Body -->
                    <div class="panel-body">

                        <!-- Make a list group of panels -->
                        <ul class="list-group list-var">
                            <!-- Loop through the number of cars we have in the db -->
                            {% for car in cars %}
                            <li>
                                <!-- Make Car Panel group -->
                                <div class="panel-group">

                                    <!-- Start of Panel structure -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <p class="panel-title">
                                                <!-- The forloop.counter gives an index for a panel -->
                                                <a data-toggle="collapse" data-parent="accordion"
                                                   href="#{{ forloop.counter }}">
                                                    <!-- Output the cars into the dropdown -->
                                                    {{ car.year }} {{ car.make }} {{ car.model }}
                                                </a>
                                            </p>
                                        </div>

                                        <!-- Start of collapsible body -->
                                        <div id="{{ forloop.counter }}" class="panel-collapse collapse">

                                            <!-- Start of Panel body -->
                                            <div class="panel-body">
                                                <ul class="list-group list-var">
                                                    {% for rep in car.futurerepair.all %}
                                                    <!-- ifequal rep.car.vin_number car.vin_number -->
                                                    <li>
                                                        {{ rep.technician.fname }}
                                                        {{ rep.technician.lname }}<br/>
                                                        {{ rep.name }}<br/>
                                                        {{ rep.date_of_repair }}
                                                    </li>
                                                    <!-- Horizontal line -->
                                                    <hr>
                                                    <!-- endifequal -->
                                                    {% endfor %}
                                                </ul>
                                                <!-- Make a button group -->
                                                <div class="text-center btn-group">

                                                    <!-- First Button of group -->
                                                    <button type="button" class="btn btn-primary">
                                                        Edit <span class="glyphicon glyphicon-list-alt"></span>
                                                    </button> <!-- End of first button of group -->

                                                    <!-- Second Button of group -->
                                                    <button type="button" class="btn btn-primary">
                                                        Add <span class="glyphicon glyphicon-plus"></span>
                                                    </button> <!-- End of second button of group -->

                                                </div> <!-- End of button group -->

                                            </div> <!-- End of Panel Body -->

                                        </div> <!-- End of collapsible body -->

                                    </div> <!-- End of Panel structure -->

                                </div> <!-- End of Car 1 panel group -->
                            </li>
                            {% endfor %}

                        </ul> <!-- End of list group of panels -->

                    </div> <!-- End of notification panel body -->

                </div> <!-- End of notification panel contents -->

            </div> <!-- End of notification grouping -->

        </div> <!-- End of notification nav -->

        <!-- Columns to be used for repairs -->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <!-- Make a panel to hold user name and image -->
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3>
                                Technician
                            </h3>
                        </div>
                        <div class="panel-body text-center">
                            <!-- Load the static resource (i.e. a picture) -->
                            {% load static %}
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d94296.76396018766!2d-72.5874496!3d42.3899634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e6d191bed1699d%3A0x245fdf0d5ea097b9!2sJiffy+Lube!5e0!3m2!1sen!2sus!4v1509580059669"
                                    width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <br/>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Make a panel to contain content -->
                    <div class="panel panel-default">

                        <!-- Panel heading for User Info -->
                        <div class="panel-heading text-center">
                            <h3>
                                Tech Info
                            </h3>
                        </div> <!-- End of User Info Panel Heading -->

                        <!-- Panel body for User Info -->
                        <div class="panel-body">
                            <h4 title="Editable Field: Tech name">
                                Name: {{ tech.fname }} {{ tech.lname }}
                            </h4>

                            <!-- This loop takes the added info of user and prints it -->
                            <h4 title="Editable Field: Tech street">
                                Street: {{ tech.street }}
                            </h4>

                            <h4 title="Editable Field: Tech city">
                                City: {{ tech.city }}
                            </h4>

                            <h4 title="Editable Field: Tech company">
                                Company: {{ tech.company }}
                            </h4>

                            {% for tech_info in tech.info.all %}
                            <h4>
                                {{ tech_info.information_name|title }}: {{ tech_info.information_contents|title }}
                            </h4>
                            {% endfor %}
                            <!-- Make a button group -->
                            <div class="text-center btn-group">

                                <!-- First Button of group -->
                                <button type="button" class="btn btn-primary">
                                    Edit <span class="glyphicon glyphicon-list-alt"></span>
                                </button> <!-- End of first button of group -->

                                <!-- Second Button of group -->
                                <button type="button" class="btn btn-primary">
                                    Add <span class="glyphicon glyphicon-plus"></span>
                                </button> <!-- End of second button of group -->

                            </div> <!-- End of button group -->

                        </div> <!-- End of Car Info panel body -->

                    </div> <!-- End of Panel -->

                </div> <!-- End of car info panel -->
            </div>

            <!-- Allocated for Repairs -->
            <div class="row">

                <!-- Get all available columns for repairs -->
                <div class="col-md-12">

                    <!-- Start of Panel Content -->
                    <div class="panel panel-default">

                        <!-- Start of Panel Heading  -->
                        <div class="panel-heading text-center">
                            <h3>
                                Costs and Repairs
                            </h3>
                        </div> <!-- End of Panel Heading -->

                        <!-- Start of Panel Body  -->
                        <div class="panel-body">
                            <!-- Make a list group of panels -->
                            <ul class="list-group list-var">

                                <!--for car in cars -->
                                {% for ctk, ctv in car_tech.items %}
                                <li>
                                    <!-- Make a Car Panel group -->
                                    <div class="panel-group">

                                        <!-- Start of Panel structure -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-center">
                                                <p class="panel-title">
                                                    <a data-toggle="collapse" data-parent="accordion"
                                                       href="#car-repair{{ forloop.counter }}">
                                                        {{ ctk.year }} {{ ctk.make }} {{ ctk.model }}
                                                    </a>
                                                </p>
                                            </div>

                                            <!-- Start of collapsible body -->
                                            <div id="car-repair{{ forloop.counter }}" class="panel-collapse collapse">

                                                <!-- Start of Panel body -->
                                                <div class="panel-body">
                                                    <ul class="list-group list-var">
                                                        <!--for rep in reps -->
                                                        <!--ifequal rep.car.unique_id car.unique_id -->
                                                        {% for rep in ctv %}
                                                        <li>
                                                            {% if '$' in rep.cost %}
                                                            {{ rep.name }} | {{ rep.cost }} | {{ rep.technician.fname }}
                                                            {{ rep.technician.lname }} | {{ rep.technician.street }},
                                                            {{ rep.technician.city }}, {{ rep.technician.company }} |
                                                            {{ rep.date_made }}
                                                            {% else %}
                                                            {{ rep.name }} | ${{ rep.cost }} | {{ rep.technician.fname}}
                                                            {{ rep.technician.lname }} | {{ rep.technician.street }},
                                                            {{ rep.technician.city }}, {{ rep.technician.company }} |
                                                            {{ rep.date_made }}
                                                            {% endif %}
                                                            <hr>
                                                        </li>
                                                        <!-- Horizontal line -->
                                                        {% endfor %}
                                                    </ul>
                                                    <!-- Make a button group -->
                                                    <div class="text-center btn-group">

                                                        <!-- First Button of group -->
                                                        <button type="button" class="btn btn-primary">
                                                            Edit <span class="glyphicon glyphicon-list-alt"></span>
                                                        </button> <!-- End of first button of group -->

                                                        <!-- Second Button of group -->
                                                        <button type="button" class="btn btn-primary">
                                                            Add <span class="glyphicon glyphicon-plus"></span>
                                                        </button> <!-- End of second button of group -->

                                                    </div> <!-- End of button group -->

                                                </div> <!-- End of Panel Body -->

                                            </div> <!-- End of collapsible body -->

                                        </div> <!-- End of Panel structure -->

                                    </div> <!-- End of Car 1 panel group -->
                                </li>
                                {% endfor %}

                            </ul> <!-- End of list group of panels -->

                        </div> <!-- End of Panel Body -->

                    </div> <!-- End of Panel Content -->

                </div> <!-- End of repair columns -->

            </div> <!-- End of repair space -->

        </div> <!-- Columns to be used for repairs -->

    </div> <!-- End of Column space for notifications, user image, info, and repairs -->

</div> <!-- End of Main Row Content for page components -->
{% endblock %}
