.navbar {
  position: relative;
}

.brand {
  position: relative;
  left: 10%;
  margin-top: -25px !important;
  display: block;
}

.items {
  position: relative;
  display: block;
}

.h-color {
  background: grey;
  border-radius: 2px;
  text-align: center;
}

.img-pos {
  text-align: center;
}

.list-var {
    list-style-type: none;
}


